
.footer {
  margin: 0;
  padding: 0;
  background: #4da9ff;
  color: #000;
  font-family: sans-serif;
}
.footer-features {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background: whitesmoke;
}

.feature-item {
  text-align: center;
}

.feature-item div {
  color: #000;
}

.feature-item h5 {
  font-size: 0.8rem;
  margin: 7px 0 0;
  color: rgba(7, 18, 27, .7);

}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 7%;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.footer-column h3 {
  margin-bottom: 12px;
  color: white;
}

.footer-column a {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 6px;
  text-decoration: none;
  color: whitesmoke;
}

.footer-column a:hover {
  text-decoration: underline;
}

.payment-icons img {
  width: 100%;
  max-width: 285px;
  margin-top: 20px;
}

.payment-icons a img{
  width: 100%;
  max-width: 160px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 15px 10px;
  border-top: 1px solid rgba(0,0,0,0.2);
  font-size: 14px;
}

.footer-bottom p {
  color: whitesmoke;
  margin: 0;
  transform: translateX(10px);
}

.social-icons {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.social-icons img {
  cursor: pointer;
}

@media (max-width: 768px) {

  .footer-features {
    justify-content: center;
  }

  .footer-columns {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    padding: 10px 0;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }

  .footer-bottom p {
    color: whitesmoke;
    transform: translateX(0);
    text-align: center;
  }
}
