.slider-container {
  position: relative;
 
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;

}

.slider-image {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.arrow.left {
  left: 15px;
  z-index: 5;

}

.arrow.right {
  right: 15px;
}

.arrow:hover {
  background: black;
}
